body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 50px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.cajaTexto {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    color: #ff0000; /* Color rojo para mensajes de error */
    font-size: 16px;
    margin: 10px 0;
}

#lblBien {
    color: #008000; /* Color verde para mensajes de éxito */
}

.bton{
    padding: 10px 20px;
    background-color: #4caf50; /* Color verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.bton:hover {
    background-color: #45a049; /* Cambio de color al pasar el mouse */
}