body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #3498db; 
}

.titulo {
    color: #fff; 
    margin-bottom: 20px;
}

.opcionesJuagdor {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.opcionesJuagdor img {
    cursor: pointer;
    margin-right: 30px;

}

.opcionesJuagdor img:hover {
    border: 2px solid #fff; 
    border-radius: 5px;
    transform: scale(1.1);
}


.opcionComputador {
    margin-bottom: 20px;
}

#imgComputador {
    width: 200px;
    border: 2px solid #fff; 
    border-radius: 5px;
}

.resultado {
    color: #fff; 
}
